<!-- Validation failure messages -->
<% if @restaurant.errors.any? %>
  <% @restaurant.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Restaurant</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_restaurant" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for rest_name -->
      <div class="form-group">
        <label for="rest_name" class="control-label">
          Rest name
        </label>

        <input type="text" id="rest_name" name="rest_name" placeholder="Rest name" class="form-control" value="<%= @restaurant.rest_name %>">
      </div>

      <!-- Label and input for address -->
      <div class="form-group">
        <label for="address" class="control-label">
          Address
        </label>

        <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="<%= @restaurant.address %>">
      </div>

      <!-- Label and input for nbr_id -->
      <div class="form-group">
        <label for="nbr_id" class="control-label">
          Nbr
        </label>

        <%= select_tag(:nbr_id, options_from_collection_for_select(Neighborhood.all, :id, :created_at, @restaurant.nbr_id), :class => "form-control") %>
      </div>

      <button class="btn btn-success">
        Create Restaurant
      </button>
      or
      <a href="/restaurants">Cancel</a>
    </form>
  </div>
</div>
